@import './reset.scss';
@import './variables.scss';
@import './grid.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 250, 255);
  outline: 1px solid $blue;
}

a {
  color: $blue;
}

b {
  font-family: $bold;
}

ul {
  li {
    padding: 10px 0;
  }
}

img {
  width: 100%;
}

.section {
  margin-top: 50px;
}

.border {
  border: 1px solid #eee;
}

blockquote {
  padding: 20px;
  p {
    font-style: italic;
    padding: 10px;
  }

  footer {
    float: right;
  }
}

p {
  line-height: 1.8;
  margin: 10px 0;
}

h3 {
  font-family: $bold;
  font-size: 1.5em;
  padding: 20px 0;
  margin-top: 20px;
}

h4 {
  font-size: 1.2em;
  padding: 20px 0 0 0;
}

h5 {
  font-size: 1 em;
  padding: 10px 0;
  font-weight: 700;
  font-family: $bold;
}

b {
  font-weight: 700;
}

nav {
  .logo {
    max-width: 100px;
    margin: 0 auto;
  }
  ul {
    margin: 0 auto;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    li {
      padding: 1rem 0;
      margin: 2vw 4vw;
      a {
        color: $black;
        font-size: 1.3em;
      }
    }
  }
  @include lg {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    ul {
      li {
        display: inline-block;
        padding: 20px 0;
        margin: 0 20px;
        a {
          color: $black;
          &:hover {
            color: $blue;
            border-bottom: 1px solid black;
          }
        }
      }
    }

    .logo {
      max-width: 70px;
      float: left;
    }

    .socials {
      float: right;
      padding-right: 20px;
    }
  }
}

.ut-content {
  margin-top: 130px;
}

.ut-stats {
  margin-top: 40px;
  @include lg {
    margin-top: 300px;
  }
}

h1 {
  font-size: 3em;
  font-family: $bold;
}

.hero {
  padding: 50px 0;
  h1 {
    font-family: $bold;
    font-size: 2.7em;
    @include lg {
      font-size: 3em;
    }
  }

  b {
    font-family: $bold;
  }
}

.skills {
  line-height: 2.3;
}

span[class^='highlight'] {
  padding: 5px;
  margin-left: 5px;
}

.highlight {
  background: rgb(254, 240, 168);
}

.highlight-2 {
  background: rgb(235, 235, 235);
}
.highlight-3 {
  background: rgb(255, 167, 215);
}

.portfolio-home {
  @include lg {
    margin-top: 140px;
  }
}

.feature-portfolio {
  a {
    @include xs {
      color: $grey;
      padding: 10px;
      float: right;
      font-family: $bold;
    }
  }

  @include xs {
    margin-top: 10rem;
  }
  @include lg {
    margin: 100px 0;
    img {
      display: inline-block;
      width: 60%;
    }
  }
}

.feature-portfolio-info {
  @include lg {
    float: right;
    margin-right: 30px;
    padding: 0 30px 0 0;
    width: 29%;
  }

  h2 {
    @include xs {
      font-family: $bold;
      font-size: 2em;
      padding: 30px 0 10px 0;
    }
    @include lg {
      font-family: $bold;
      font-size: 1.5em;
      padding: 10px 0;
    }
  }

  p {
    @include lg {
      padding: 20px 0;
    }
  }
}

.project-heading {
  font-family: $bold;
  font-size: 2em;
  font-weight: 700;
  padding: 20px 0;
}

.border {
  border: 1px solid #eee;
}

.padding-vertical-20 {
  padding: 20px 0;
}

.story {
  padding: 20px 0;
  img {
    width: 100%;
  }

  ul {
    margin-left: 30px;
    li {
      list-style: square;
    }
  }
}

.sage-app a {
  color: $blue;
}

.thanks {
  padding: 50px 0 100px 0;
  @include lg {
    p {
      float: right;
      clear: both;
    }

    a {
      float: right;
      display: block;
      clear: both;
    }
  }
  @include sm {
    p {
      float: right;
      clear: both;
    }
    a {
      float: right;
    }
  }
}

.sage_img_intro {
  width: 100%;
  padding-bottom: 50px;
}

.underlined {
  text-decoration: underline;
}

.bolded {
  font-family: $bold;
}

.heading {
  @include xs {
    margin-top: 100px;
  }
}

i {
  display: block;
  font-style: italic;
}

ol {
  list-style-type: decimal;
  padding-left: 35px;
}

.projects {
  display: grid;
  @include sm {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project {
  min-height: 400px;
  -webkit-box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.32);
  transition: all .2s ease-in-out;
  padding: 20px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  &:hover {
    transform: scale(1.1);
  }
}

.disclaimer {
  p {
    color: #ff7777;
  }
  padding: 20px 0;
}

.about img {
  border-radius: 20px;
}

.social {
  img {
    max-width: 30px;
    margin-top: 10px;
    margin-right: 20px;
    transition: 0.2s all ease-in-out;
    &:hover {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }
}

.experiment-card {
  padding: 20px;
  margin: 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
  transition: all .2s ease-in-out;
  opacity: 0.9;
  min-height: 500px;

  h3 {
    margin-top: 0;
  }
}

.mirror ol {
  margin: 10px;
  li {
    margin: 5px 0;
  }
}

.brochure-images img {
  border: 1px solid #eee;
}
